



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    width: 100vw;
}


button {
    color: white;
    font-weight: 900;
    transition: 0.3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button:hover {
    cursor: pointer;
    background-color: black;
    transition: 0.3s;
}

svg {
    height: 2em;
}






header {
    background-color: white;
    grid-column: 2 / span 2;
    grid-row-start: 1;
    padding: 20px;
    

    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;

    max-height: 100%;
    max-width: 100%;
}

header label {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

header label svg {
    margin-right: 20px;
}

header label svg:hover {
    cursor: pointer;
}

header label input {
    width: 80%;
    height: 2em;
    border-radius: 8px;
    background-color: whitesmoke;
    transition: 1s;
    outline: none;
}

header label input:focus {
    border-color: mediumaquamarine;
    border-radius: 0;
    transition: 1s;
    outline: none;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

a:hover {
    cursor: pointer;
    color: mediumaquamarine;
    transition: 0.3s;
}


header a:first-of-type {
    text-align: right;
}

header a:nth-of-type(2) {
    text-align: right;
    margin-right: 1em;
}

header a:nth-of-type(2) svg {
    background-color: darkorange;
    border-radius: 50%;
}

header a:nth-of-type(3) {
    font-weight: 400;
}

#welcome {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#welcome svg {
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
    height: 4em;
    background-color: darkorange;
    border-radius: 50%;
}

header button {
    height: 4em;
    width: 10em;
    padding: 5px;
    border-radius: 50px;
    background-color: #0BA3FF;
    justify-content: center;
}







.sidebar {
    background-color: #0BA3FF;
    grid-row: 1 / -1;
    grid-column-start: 1;

    display: flex;
    max-height: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sidebar button {
    border: 0;
    height: 4em;
    background-color: #0BA3FF;
    transition: 0.3s;
}

.sidebar button:hover {
    background-color: black;
    transition: 0.3s;
}

.sidebar button svg {
    margin-right: 8px;
    margin-left: 8px;
    color: white;
}

#dashlogo {
    margin-bottom: 0;
}

#dashlogo button {
    font-size: 1.4em;
}

#controls {
    margin-top: 50px;
}

.dashdiv {
    width: 100%;
}

.dashdiv button {
    width: 100%;
    text-align: left;
}

#admin {
    margin-top: auto;
}












main {
    background-color: whitesmoke;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 20px;

    max-height: 100%;
    max-width: 100%;
}

main h3 {
    padding: 10px;
}

main svg:hover {
    cursor: pointer;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;    
}

.project {
    min-height: 180px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.project h4 {
    width: 100%;
}

.project p {
    width: 100%;
    padding-top: 20px;
}

.icons {
    margin-top: auto;
    margin-left: auto;
    align-self: flex-end;
}









.updates {
    background-color: whitesmoke;
    grid-column-start: 3;
    grid-row: 2 / -1;
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 100%;
    max-width: 100%;
}

.updates h3 {
    padding-bottom: 5px;
}

#announcelist {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    padding: 10px;
    background-color: white;
}

#trending {
    margin-top: 35px;
    width: 100%;
}

#trendaccs {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    background-color: white;
}

.trendingacc {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 8px;
    padding-left: 8px;
}

.trendingacc svg {
    grid-row: 1 / span 2;
    margin: 8px;
    background-color: darkorange;
    border-radius: 50%;
}
